<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.OmsCartItemMapper" >
  <resultMap id="BaseResultMap" type="model.OmsCartItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="product_id" property="product_id" jdbcType="BIGINT" />
    <result column="product_sku_id" property="product_sku_id" jdbcType="BIGINT" />
    <result column="member_id" property="member_id" jdbcType="BIGINT" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="product_pic" property="product_pic" jdbcType="VARCHAR" />
    <result column="product_name" property="product_name" jdbcType="VARCHAR" />
    <result column="product_sub_title" property="product_sub_title" jdbcType="VARCHAR" />
    <result column="product_sku_code" property="product_sku_code" jdbcType="VARCHAR" />
    <result column="member_nickname" property="member_nickname" jdbcType="VARCHAR" />
    <result column="create_date" property="create_date" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modify_date" jdbcType="TIMESTAMP" />
    <result column="delete_status" property="delete_status" jdbcType="INTEGER" />
    <result column="product_category_id" property="product_category_id" jdbcType="BIGINT" />
    <result column="product_brand" property="product_brand" jdbcType="VARCHAR" />
    <result column="product_sn" property="product_sn" jdbcType="VARCHAR" />
    <result column="product_attr" property="product_attr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_id, product_sku_id, member_id, quantity, price, product_pic, product_name, 
    product_sub_title, product_sku_code, member_nickname, create_date, modify_date, delete_status, 
    product_category_id, product_brand, product_sn, product_attr
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from oms_cart_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from oms_cart_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="model.OmsCartItem" >
    insert into oms_cart_item (id, product_id, product_sku_id, 
      member_id, quantity, price, 
      product_pic, product_name, product_sub_title, 
      product_sku_code, member_nickname, create_date, 
      modify_date, delete_status, product_category_id, 
      product_brand, product_sn, product_attr
      )
    values (#{id,jdbcType=BIGINT}, #{product_id,jdbcType=BIGINT}, #{product_sku_id,jdbcType=BIGINT}, 
      #{member_id,jdbcType=BIGINT}, #{quantity,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{product_pic,jdbcType=VARCHAR}, #{product_name,jdbcType=VARCHAR}, #{product_sub_title,jdbcType=VARCHAR}, 
      #{product_sku_code,jdbcType=VARCHAR}, #{member_nickname,jdbcType=VARCHAR}, #{create_date,jdbcType=TIMESTAMP}, 
      #{modify_date,jdbcType=TIMESTAMP}, #{delete_status,jdbcType=INTEGER}, #{product_category_id,jdbcType=BIGINT}, 
      #{product_brand,jdbcType=VARCHAR}, #{product_sn,jdbcType=VARCHAR}, #{product_attr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="model.OmsCartItem" >
    insert into oms_cart_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="product_id != null" >
        product_id,
      </if>
      <if test="product_sku_id != null" >
        product_sku_id,
      </if>
      <if test="member_id != null" >
        member_id,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="product_pic != null" >
        product_pic,
      </if>
      <if test="product_name != null" >
        product_name,
      </if>
      <if test="product_sub_title != null" >
        product_sub_title,
      </if>
      <if test="product_sku_code != null" >
        product_sku_code,
      </if>
      <if test="member_nickname != null" >
        member_nickname,
      </if>
      <if test="create_date != null" >
        create_date,
      </if>
      <if test="modify_date != null" >
        modify_date,
      </if>
      <if test="delete_status != null" >
        delete_status,
      </if>
      <if test="product_category_id != null" >
        product_category_id,
      </if>
      <if test="product_brand != null" >
        product_brand,
      </if>
      <if test="product_sn != null" >
        product_sn,
      </if>
      <if test="product_attr != null" >
        product_attr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="product_id != null" >
        #{product_id,jdbcType=BIGINT},
      </if>
      <if test="product_sku_id != null" >
        #{product_sku_id,jdbcType=BIGINT},
      </if>
      <if test="member_id != null" >
        #{member_id,jdbcType=BIGINT},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="product_pic != null" >
        #{product_pic,jdbcType=VARCHAR},
      </if>
      <if test="product_name != null" >
        #{product_name,jdbcType=VARCHAR},
      </if>
      <if test="product_sub_title != null" >
        #{product_sub_title,jdbcType=VARCHAR},
      </if>
      <if test="product_sku_code != null" >
        #{product_sku_code,jdbcType=VARCHAR},
      </if>
      <if test="member_nickname != null" >
        #{member_nickname,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null" >
        #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date != null" >
        #{modify_date,jdbcType=TIMESTAMP},
      </if>
      <if test="delete_status != null" >
        #{delete_status,jdbcType=INTEGER},
      </if>
      <if test="product_category_id != null" >
        #{product_category_id,jdbcType=BIGINT},
      </if>
      <if test="product_brand != null" >
        #{product_brand,jdbcType=VARCHAR},
      </if>
      <if test="product_sn != null" >
        #{product_sn,jdbcType=VARCHAR},
      </if>
      <if test="product_attr != null" >
        #{product_attr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.OmsCartItem" >
    update oms_cart_item
    <set >
      <if test="product_id != null" >
        product_id = #{product_id,jdbcType=BIGINT},
      </if>
      <if test="product_sku_id != null" >
        product_sku_id = #{product_sku_id,jdbcType=BIGINT},
      </if>
      <if test="member_id != null" >
        member_id = #{member_id,jdbcType=BIGINT},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="product_pic != null" >
        product_pic = #{product_pic,jdbcType=VARCHAR},
      </if>
      <if test="product_name != null" >
        product_name = #{product_name,jdbcType=VARCHAR},
      </if>
      <if test="product_sub_title != null" >
        product_sub_title = #{product_sub_title,jdbcType=VARCHAR},
      </if>
      <if test="product_sku_code != null" >
        product_sku_code = #{product_sku_code,jdbcType=VARCHAR},
      </if>
      <if test="member_nickname != null" >
        member_nickname = #{member_nickname,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null" >
        create_date = #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date != null" >
        modify_date = #{modify_date,jdbcType=TIMESTAMP},
      </if>
      <if test="delete_status != null" >
        delete_status = #{delete_status,jdbcType=INTEGER},
      </if>
      <if test="product_category_id != null" >
        product_category_id = #{product_category_id,jdbcType=BIGINT},
      </if>
      <if test="product_brand != null" >
        product_brand = #{product_brand,jdbcType=VARCHAR},
      </if>
      <if test="product_sn != null" >
        product_sn = #{product_sn,jdbcType=VARCHAR},
      </if>
      <if test="product_attr != null" >
        product_attr = #{product_attr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.OmsCartItem" >
    update oms_cart_item
    set product_id = #{product_id,jdbcType=BIGINT},
      product_sku_id = #{product_sku_id,jdbcType=BIGINT},
      member_id = #{member_id,jdbcType=BIGINT},
      quantity = #{quantity,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      product_pic = #{product_pic,jdbcType=VARCHAR},
      product_name = #{product_name,jdbcType=VARCHAR},
      product_sub_title = #{product_sub_title,jdbcType=VARCHAR},
      product_sku_code = #{product_sku_code,jdbcType=VARCHAR},
      member_nickname = #{member_nickname,jdbcType=VARCHAR},
      create_date = #{create_date,jdbcType=TIMESTAMP},
      modify_date = #{modify_date,jdbcType=TIMESTAMP},
      delete_status = #{delete_status,jdbcType=INTEGER},
      product_category_id = #{product_category_id,jdbcType=BIGINT},
      product_brand = #{product_brand,jdbcType=VARCHAR},
      product_sn = #{product_sn,jdbcType=VARCHAR},
      product_attr = #{product_attr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>