<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.PmsBrandMapper" >
  <resultMap id="BaseResultMap" type="model.PmsBrand" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="first_letter" property="first_letter" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="factory_status" property="factory_status" jdbcType="INTEGER" />
    <result column="show_status" property="show_status" jdbcType="INTEGER" />
    <result column="product_count" property="product_count" jdbcType="INTEGER" />
    <result column="product_comment_count" property="product_comment_count" jdbcType="INTEGER" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="big_pic" property="big_pic" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="model.PmsBrand" extends="BaseResultMap" >
    <result column="brand_story" property="brand_story" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, first_letter, sort, factory_status, show_status, product_count, product_comment_count, 
    logo, big_pic
  </sql>
  <sql id="Blob_Column_List" >
    brand_story
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pms_brand
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pms_brand
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="model.PmsBrand" >
    insert into pms_brand (id, name, first_letter, 
      sort, factory_status, show_status, 
      product_count, product_comment_count, logo, 
      big_pic, brand_story)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{first_letter,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{factory_status,jdbcType=INTEGER}, #{show_status,jdbcType=INTEGER}, 
      #{product_count,jdbcType=INTEGER}, #{product_comment_count,jdbcType=INTEGER}, #{logo,jdbcType=VARCHAR}, 
      #{big_pic,jdbcType=VARCHAR}, #{brand_story,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.PmsBrand" >
    insert into pms_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="first_letter != null" >
        first_letter,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="factory_status != null" >
        factory_status,
      </if>
      <if test="show_status != null" >
        show_status,
      </if>
      <if test="product_count != null" >
        product_count,
      </if>
      <if test="product_comment_count != null" >
        product_comment_count,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="big_pic != null" >
        big_pic,
      </if>
      <if test="brand_story != null" >
        brand_story,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="first_letter != null" >
        #{first_letter,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="factory_status != null" >
        #{factory_status,jdbcType=INTEGER},
      </if>
      <if test="show_status != null" >
        #{show_status,jdbcType=INTEGER},
      </if>
      <if test="product_count != null" >
        #{product_count,jdbcType=INTEGER},
      </if>
      <if test="product_comment_count != null" >
        #{product_comment_count,jdbcType=INTEGER},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="big_pic != null" >
        #{big_pic,jdbcType=VARCHAR},
      </if>
      <if test="brand_story != null" >
        #{brand_story,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.PmsBrand" >
    update pms_brand
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="first_letter != null" >
        first_letter = #{first_letter,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="factory_status != null" >
        factory_status = #{factory_status,jdbcType=INTEGER},
      </if>
      <if test="show_status != null" >
        show_status = #{show_status,jdbcType=INTEGER},
      </if>
      <if test="product_count != null" >
        product_count = #{product_count,jdbcType=INTEGER},
      </if>
      <if test="product_comment_count != null" >
        product_comment_count = #{product_comment_count,jdbcType=INTEGER},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="big_pic != null" >
        big_pic = #{big_pic,jdbcType=VARCHAR},
      </if>
      <if test="brand_story != null" >
        brand_story = #{brand_story,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="model.PmsBrand" >
    update pms_brand
    set name = #{name,jdbcType=VARCHAR},
      first_letter = #{first_letter,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      factory_status = #{factory_status,jdbcType=INTEGER},
      show_status = #{show_status,jdbcType=INTEGER},
      product_count = #{product_count,jdbcType=INTEGER},
      product_comment_count = #{product_comment_count,jdbcType=INTEGER},
      logo = #{logo,jdbcType=VARCHAR},
      big_pic = #{big_pic,jdbcType=VARCHAR},
      brand_story = #{brand_story,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.PmsBrand" >
    update pms_brand
    set name = #{name,jdbcType=VARCHAR},
      first_letter = #{first_letter,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      factory_status = #{factory_status,jdbcType=INTEGER},
      show_status = #{show_status,jdbcType=INTEGER},
      product_count = #{product_count,jdbcType=INTEGER},
      product_comment_count = #{product_comment_count,jdbcType=INTEGER},
      logo = #{logo,jdbcType=VARCHAR},
      big_pic = #{big_pic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>