<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.PmsCommentMapper" >
  <resultMap id="BaseResultMap" type="model.PmsComment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="product_id" property="product_id" jdbcType="BIGINT" />
    <result column="member_nick_name" property="member_nick_name" jdbcType="VARCHAR" />
    <result column="product_name" property="product_name" jdbcType="VARCHAR" />
    <result column="star" property="star" jdbcType="INTEGER" />
    <result column="member_ip" property="member_ip" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="show_status" property="show_status" jdbcType="INTEGER" />
    <result column="product_attribute" property="product_attribute" jdbcType="VARCHAR" />
    <result column="collect_couont" property="collect_couont" jdbcType="INTEGER" />
    <result column="read_count" property="read_count" jdbcType="INTEGER" />
    <result column="pics" property="pics" jdbcType="VARCHAR" />
    <result column="member_icon" property="member_icon" jdbcType="VARCHAR" />
    <result column="replay_count" property="replay_count" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="model.PmsComment" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_id, member_nick_name, product_name, star, member_ip, create_time, show_status, 
    product_attribute, collect_couont, read_count, pics, member_icon, replay_count
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pms_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pms_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="model.PmsComment" >
    insert into pms_comment (id, product_id, member_nick_name, 
      product_name, star, member_ip, 
      create_time, show_status, product_attribute, 
      collect_couont, read_count, pics, 
      member_icon, replay_count, content
      )
    values (#{id,jdbcType=BIGINT}, #{product_id,jdbcType=BIGINT}, #{member_nick_name,jdbcType=VARCHAR}, 
      #{product_name,jdbcType=VARCHAR}, #{star,jdbcType=INTEGER}, #{member_ip,jdbcType=VARCHAR}, 
      #{create_time,jdbcType=TIMESTAMP}, #{show_status,jdbcType=INTEGER}, #{product_attribute,jdbcType=VARCHAR}, 
      #{collect_couont,jdbcType=INTEGER}, #{read_count,jdbcType=INTEGER}, #{pics,jdbcType=VARCHAR}, 
      #{member_icon,jdbcType=VARCHAR}, #{replay_count,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="model.PmsComment" >
    insert into pms_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="product_id != null" >
        product_id,
      </if>
      <if test="member_nick_name != null" >
        member_nick_name,
      </if>
      <if test="product_name != null" >
        product_name,
      </if>
      <if test="star != null" >
        star,
      </if>
      <if test="member_ip != null" >
        member_ip,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="show_status != null" >
        show_status,
      </if>
      <if test="product_attribute != null" >
        product_attribute,
      </if>
      <if test="collect_couont != null" >
        collect_couont,
      </if>
      <if test="read_count != null" >
        read_count,
      </if>
      <if test="pics != null" >
        pics,
      </if>
      <if test="member_icon != null" >
        member_icon,
      </if>
      <if test="replay_count != null" >
        replay_count,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="product_id != null" >
        #{product_id,jdbcType=BIGINT},
      </if>
      <if test="member_nick_name != null" >
        #{member_nick_name,jdbcType=VARCHAR},
      </if>
      <if test="product_name != null" >
        #{product_name,jdbcType=VARCHAR},
      </if>
      <if test="star != null" >
        #{star,jdbcType=INTEGER},
      </if>
      <if test="member_ip != null" >
        #{member_ip,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="show_status != null" >
        #{show_status,jdbcType=INTEGER},
      </if>
      <if test="product_attribute != null" >
        #{product_attribute,jdbcType=VARCHAR},
      </if>
      <if test="collect_couont != null" >
        #{collect_couont,jdbcType=INTEGER},
      </if>
      <if test="read_count != null" >
        #{read_count,jdbcType=INTEGER},
      </if>
      <if test="pics != null" >
        #{pics,jdbcType=VARCHAR},
      </if>
      <if test="member_icon != null" >
        #{member_icon,jdbcType=VARCHAR},
      </if>
      <if test="replay_count != null" >
        #{replay_count,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.PmsComment" >
    update pms_comment
    <set >
      <if test="product_id != null" >
        product_id = #{product_id,jdbcType=BIGINT},
      </if>
      <if test="member_nick_name != null" >
        member_nick_name = #{member_nick_name,jdbcType=VARCHAR},
      </if>
      <if test="product_name != null" >
        product_name = #{product_name,jdbcType=VARCHAR},
      </if>
      <if test="star != null" >
        star = #{star,jdbcType=INTEGER},
      </if>
      <if test="member_ip != null" >
        member_ip = #{member_ip,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="show_status != null" >
        show_status = #{show_status,jdbcType=INTEGER},
      </if>
      <if test="product_attribute != null" >
        product_attribute = #{product_attribute,jdbcType=VARCHAR},
      </if>
      <if test="collect_couont != null" >
        collect_couont = #{collect_couont,jdbcType=INTEGER},
      </if>
      <if test="read_count != null" >
        read_count = #{read_count,jdbcType=INTEGER},
      </if>
      <if test="pics != null" >
        pics = #{pics,jdbcType=VARCHAR},
      </if>
      <if test="member_icon != null" >
        member_icon = #{member_icon,jdbcType=VARCHAR},
      </if>
      <if test="replay_count != null" >
        replay_count = #{replay_count,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="model.PmsComment" >
    update pms_comment
    set product_id = #{product_id,jdbcType=BIGINT},
      member_nick_name = #{member_nick_name,jdbcType=VARCHAR},
      product_name = #{product_name,jdbcType=VARCHAR},
      star = #{star,jdbcType=INTEGER},
      member_ip = #{member_ip,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      show_status = #{show_status,jdbcType=INTEGER},
      product_attribute = #{product_attribute,jdbcType=VARCHAR},
      collect_couont = #{collect_couont,jdbcType=INTEGER},
      read_count = #{read_count,jdbcType=INTEGER},
      pics = #{pics,jdbcType=VARCHAR},
      member_icon = #{member_icon,jdbcType=VARCHAR},
      replay_count = #{replay_count,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.PmsComment" >
    update pms_comment
    set product_id = #{product_id,jdbcType=BIGINT},
      member_nick_name = #{member_nick_name,jdbcType=VARCHAR},
      product_name = #{product_name,jdbcType=VARCHAR},
      star = #{star,jdbcType=INTEGER},
      member_ip = #{member_ip,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      show_status = #{show_status,jdbcType=INTEGER},
      product_attribute = #{product_attribute,jdbcType=VARCHAR},
      collect_couont = #{collect_couont,jdbcType=INTEGER},
      read_count = #{read_count,jdbcType=INTEGER},
      pics = #{pics,jdbcType=VARCHAR},
      member_icon = #{member_icon,jdbcType=VARCHAR},
      replay_count = #{replay_count,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>