<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.PmsProductMapper" >
  <resultMap id="BaseResultMap" type="model.PmsProduct" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="brand_id" property="brand_id" jdbcType="BIGINT" />
    <result column="product_category_id" property="product_category_id" jdbcType="BIGINT" />
    <result column="feight_template_id" property="feight_template_id" jdbcType="BIGINT" />
    <result column="product_attribute_category_id" property="product_attribute_category_id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="product_sn" property="product_sn" jdbcType="VARCHAR" />
    <result column="delete_status" property="delete_status" jdbcType="INTEGER" />
    <result column="publish_status" property="publish_status" jdbcType="INTEGER" />
    <result column="new_status" property="new_status" jdbcType="INTEGER" />
    <result column="recommand_status" property="recommand_status" jdbcType="INTEGER" />
    <result column="verify_status" property="verify_status" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="sale" property="sale" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="promotion_price" property="promotion_price" jdbcType="DECIMAL" />
    <result column="gift_growth" property="gift_growth" jdbcType="INTEGER" />
    <result column="gift_point" property="gift_point" jdbcType="INTEGER" />
    <result column="use_point_limit" property="use_point_limit" jdbcType="INTEGER" />
    <result column="sub_title" property="sub_title" jdbcType="VARCHAR" />
    <result column="original_price" property="original_price" jdbcType="DECIMAL" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="low_stock" property="low_stock" jdbcType="INTEGER" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="DECIMAL" />
    <result column="preview_status" property="preview_status" jdbcType="INTEGER" />
    <result column="service_ids" property="service_ids" jdbcType="VARCHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="album_pics" property="album_pics" jdbcType="VARCHAR" />
    <result column="detail_title" property="detail_title" jdbcType="VARCHAR" />
    <result column="promotion_start_time" property="promotion_start_time" jdbcType="TIMESTAMP" />
    <result column="promotion_end_time" property="promotion_end_time" jdbcType="TIMESTAMP" />
    <result column="promotion_per_limit" property="promotion_per_limit" jdbcType="INTEGER" />
    <result column="promotion_type" property="promotion_type" jdbcType="INTEGER" />
    <result column="brand_name" property="brand_name" jdbcType="VARCHAR" />
    <result column="product_category_name" property="product_category_name" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="model.PmsProductWithBLOBs" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="detail_desc" property="detail_desc" jdbcType="LONGVARCHAR" />
    <result column="detail_html" property="detail_html" jdbcType="LONGVARCHAR" />
    <result column="detail_mobile_html" property="detail_mobile_html" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, brand_id, product_category_id, feight_template_id, product_attribute_category_id, 
    name, pic, product_sn, delete_status, publish_status, new_status, recommand_status, 
    verify_status, sort, sale, price, promotion_price, gift_growth, gift_point, use_point_limit, 
    sub_title, original_price, stock, low_stock, unit, weight, preview_status, service_ids, 
    keywords, note, album_pics, detail_title, promotion_start_time, promotion_end_time, 
    promotion_per_limit, promotion_type, brand_name, product_category_name
  </sql>
  <sql id="Blob_Column_List" >
    description, detail_desc, detail_html, detail_mobile_html
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pms_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pms_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="model.PmsProductWithBLOBs" >
    insert into pms_product (id, brand_id, product_category_id, 
      feight_template_id, product_attribute_category_id, 
      name, pic, product_sn, 
      delete_status, publish_status, new_status, 
      recommand_status, verify_status, sort, 
      sale, price, promotion_price, 
      gift_growth, gift_point, use_point_limit, 
      sub_title, original_price, stock, 
      low_stock, unit, weight, 
      preview_status, service_ids, keywords, 
      note, album_pics, detail_title, 
      promotion_start_time, promotion_end_time, 
      promotion_per_limit, promotion_type, brand_name, 
      product_category_name, description, 
      detail_desc, detail_html, detail_mobile_html
      )
    values (#{id,jdbcType=BIGINT}, #{brand_id,jdbcType=BIGINT}, #{product_category_id,jdbcType=BIGINT}, 
      #{feight_template_id,jdbcType=BIGINT}, #{product_attribute_category_id,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{product_sn,jdbcType=VARCHAR}, 
      #{delete_status,jdbcType=INTEGER}, #{publish_status,jdbcType=INTEGER}, #{new_status,jdbcType=INTEGER}, 
      #{recommand_status,jdbcType=INTEGER}, #{verify_status,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{sale,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{promotion_price,jdbcType=DECIMAL}, 
      #{gift_growth,jdbcType=INTEGER}, #{gift_point,jdbcType=INTEGER}, #{use_point_limit,jdbcType=INTEGER}, 
      #{sub_title,jdbcType=VARCHAR}, #{original_price,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER}, 
      #{low_stock,jdbcType=INTEGER}, #{unit,jdbcType=VARCHAR}, #{weight,jdbcType=DECIMAL}, 
      #{preview_status,jdbcType=INTEGER}, #{service_ids,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{album_pics,jdbcType=VARCHAR}, #{detail_title,jdbcType=VARCHAR}, 
      #{promotion_start_time,jdbcType=TIMESTAMP}, #{promotion_end_time,jdbcType=TIMESTAMP}, 
      #{promotion_per_limit,jdbcType=INTEGER}, #{promotion_type,jdbcType=INTEGER}, #{brand_name,jdbcType=VARCHAR}, 
      #{product_category_name,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}, 
      #{detail_desc,jdbcType=LONGVARCHAR}, #{detail_html,jdbcType=LONGVARCHAR}, #{detail_mobile_html,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="model.PmsProductWithBLOBs" >
    insert into pms_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="brand_id != null" >
        brand_id,
      </if>
      <if test="product_category_id != null" >
        product_category_id,
      </if>
      <if test="feight_template_id != null" >
        feight_template_id,
      </if>
      <if test="product_attribute_category_id != null" >
        product_attribute_category_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="product_sn != null" >
        product_sn,
      </if>
      <if test="delete_status != null" >
        delete_status,
      </if>
      <if test="publish_status != null" >
        publish_status,
      </if>
      <if test="new_status != null" >
        new_status,
      </if>
      <if test="recommand_status != null" >
        recommand_status,
      </if>
      <if test="verify_status != null" >
        verify_status,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="sale != null" >
        sale,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="promotion_price != null" >
        promotion_price,
      </if>
      <if test="gift_growth != null" >
        gift_growth,
      </if>
      <if test="gift_point != null" >
        gift_point,
      </if>
      <if test="use_point_limit != null" >
        use_point_limit,
      </if>
      <if test="sub_title != null" >
        sub_title,
      </if>
      <if test="original_price != null" >
        original_price,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="low_stock != null" >
        low_stock,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="preview_status != null" >
        preview_status,
      </if>
      <if test="service_ids != null" >
        service_ids,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="album_pics != null" >
        album_pics,
      </if>
      <if test="detail_title != null" >
        detail_title,
      </if>
      <if test="promotion_start_time != null" >
        promotion_start_time,
      </if>
      <if test="promotion_end_time != null" >
        promotion_end_time,
      </if>
      <if test="promotion_per_limit != null" >
        promotion_per_limit,
      </if>
      <if test="promotion_type != null" >
        promotion_type,
      </if>
      <if test="brand_name != null" >
        brand_name,
      </if>
      <if test="product_category_name != null" >
        product_category_name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="detail_desc != null" >
        detail_desc,
      </if>
      <if test="detail_html != null" >
        detail_html,
      </if>
      <if test="detail_mobile_html != null" >
        detail_mobile_html,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="brand_id != null" >
        #{brand_id,jdbcType=BIGINT},
      </if>
      <if test="product_category_id != null" >
        #{product_category_id,jdbcType=BIGINT},
      </if>
      <if test="feight_template_id != null" >
        #{feight_template_id,jdbcType=BIGINT},
      </if>
      <if test="product_attribute_category_id != null" >
        #{product_attribute_category_id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="product_sn != null" >
        #{product_sn,jdbcType=VARCHAR},
      </if>
      <if test="delete_status != null" >
        #{delete_status,jdbcType=INTEGER},
      </if>
      <if test="publish_status != null" >
        #{publish_status,jdbcType=INTEGER},
      </if>
      <if test="new_status != null" >
        #{new_status,jdbcType=INTEGER},
      </if>
      <if test="recommand_status != null" >
        #{recommand_status,jdbcType=INTEGER},
      </if>
      <if test="verify_status != null" >
        #{verify_status,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="sale != null" >
        #{sale,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="promotion_price != null" >
        #{promotion_price,jdbcType=DECIMAL},
      </if>
      <if test="gift_growth != null" >
        #{gift_growth,jdbcType=INTEGER},
      </if>
      <if test="gift_point != null" >
        #{gift_point,jdbcType=INTEGER},
      </if>
      <if test="use_point_limit != null" >
        #{use_point_limit,jdbcType=INTEGER},
      </if>
      <if test="sub_title != null" >
        #{sub_title,jdbcType=VARCHAR},
      </if>
      <if test="original_price != null" >
        #{original_price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="low_stock != null" >
        #{low_stock,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="preview_status != null" >
        #{preview_status,jdbcType=INTEGER},
      </if>
      <if test="service_ids != null" >
        #{service_ids,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="album_pics != null" >
        #{album_pics,jdbcType=VARCHAR},
      </if>
      <if test="detail_title != null" >
        #{detail_title,jdbcType=VARCHAR},
      </if>
      <if test="promotion_start_time != null" >
        #{promotion_start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="promotion_end_time != null" >
        #{promotion_end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="promotion_per_limit != null" >
        #{promotion_per_limit,jdbcType=INTEGER},
      </if>
      <if test="promotion_type != null" >
        #{promotion_type,jdbcType=INTEGER},
      </if>
      <if test="brand_name != null" >
        #{brand_name,jdbcType=VARCHAR},
      </if>
      <if test="product_category_name != null" >
        #{product_category_name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail_desc != null" >
        #{detail_desc,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail_html != null" >
        #{detail_html,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail_mobile_html != null" >
        #{detail_mobile_html,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.PmsProductWithBLOBs" >
    update pms_product
    <set >
      <if test="brand_id != null" >
        brand_id = #{brand_id,jdbcType=BIGINT},
      </if>
      <if test="product_category_id != null" >
        product_category_id = #{product_category_id,jdbcType=BIGINT},
      </if>
      <if test="feight_template_id != null" >
        feight_template_id = #{feight_template_id,jdbcType=BIGINT},
      </if>
      <if test="product_attribute_category_id != null" >
        product_attribute_category_id = #{product_attribute_category_id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="product_sn != null" >
        product_sn = #{product_sn,jdbcType=VARCHAR},
      </if>
      <if test="delete_status != null" >
        delete_status = #{delete_status,jdbcType=INTEGER},
      </if>
      <if test="publish_status != null" >
        publish_status = #{publish_status,jdbcType=INTEGER},
      </if>
      <if test="new_status != null" >
        new_status = #{new_status,jdbcType=INTEGER},
      </if>
      <if test="recommand_status != null" >
        recommand_status = #{recommand_status,jdbcType=INTEGER},
      </if>
      <if test="verify_status != null" >
        verify_status = #{verify_status,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="sale != null" >
        sale = #{sale,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="promotion_price != null" >
        promotion_price = #{promotion_price,jdbcType=DECIMAL},
      </if>
      <if test="gift_growth != null" >
        gift_growth = #{gift_growth,jdbcType=INTEGER},
      </if>
      <if test="gift_point != null" >
        gift_point = #{gift_point,jdbcType=INTEGER},
      </if>
      <if test="use_point_limit != null" >
        use_point_limit = #{use_point_limit,jdbcType=INTEGER},
      </if>
      <if test="sub_title != null" >
        sub_title = #{sub_title,jdbcType=VARCHAR},
      </if>
      <if test="original_price != null" >
        original_price = #{original_price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="low_stock != null" >
        low_stock = #{low_stock,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="preview_status != null" >
        preview_status = #{preview_status,jdbcType=INTEGER},
      </if>
      <if test="service_ids != null" >
        service_ids = #{service_ids,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="album_pics != null" >
        album_pics = #{album_pics,jdbcType=VARCHAR},
      </if>
      <if test="detail_title != null" >
        detail_title = #{detail_title,jdbcType=VARCHAR},
      </if>
      <if test="promotion_start_time != null" >
        promotion_start_time = #{promotion_start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="promotion_end_time != null" >
        promotion_end_time = #{promotion_end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="promotion_per_limit != null" >
        promotion_per_limit = #{promotion_per_limit,jdbcType=INTEGER},
      </if>
      <if test="promotion_type != null" >
        promotion_type = #{promotion_type,jdbcType=INTEGER},
      </if>
      <if test="brand_name != null" >
        brand_name = #{brand_name,jdbcType=VARCHAR},
      </if>
      <if test="product_category_name != null" >
        product_category_name = #{product_category_name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail_desc != null" >
        detail_desc = #{detail_desc,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail_html != null" >
        detail_html = #{detail_html,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail_mobile_html != null" >
        detail_mobile_html = #{detail_mobile_html,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="model.PmsProductWithBLOBs" >
    update pms_product
    set brand_id = #{brand_id,jdbcType=BIGINT},
      product_category_id = #{product_category_id,jdbcType=BIGINT},
      feight_template_id = #{feight_template_id,jdbcType=BIGINT},
      product_attribute_category_id = #{product_attribute_category_id,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      product_sn = #{product_sn,jdbcType=VARCHAR},
      delete_status = #{delete_status,jdbcType=INTEGER},
      publish_status = #{publish_status,jdbcType=INTEGER},
      new_status = #{new_status,jdbcType=INTEGER},
      recommand_status = #{recommand_status,jdbcType=INTEGER},
      verify_status = #{verify_status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      sale = #{sale,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      promotion_price = #{promotion_price,jdbcType=DECIMAL},
      gift_growth = #{gift_growth,jdbcType=INTEGER},
      gift_point = #{gift_point,jdbcType=INTEGER},
      use_point_limit = #{use_point_limit,jdbcType=INTEGER},
      sub_title = #{sub_title,jdbcType=VARCHAR},
      original_price = #{original_price,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      low_stock = #{low_stock,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DECIMAL},
      preview_status = #{preview_status,jdbcType=INTEGER},
      service_ids = #{service_ids,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      album_pics = #{album_pics,jdbcType=VARCHAR},
      detail_title = #{detail_title,jdbcType=VARCHAR},
      promotion_start_time = #{promotion_start_time,jdbcType=TIMESTAMP},
      promotion_end_time = #{promotion_end_time,jdbcType=TIMESTAMP},
      promotion_per_limit = #{promotion_per_limit,jdbcType=INTEGER},
      promotion_type = #{promotion_type,jdbcType=INTEGER},
      brand_name = #{brand_name,jdbcType=VARCHAR},
      product_category_name = #{product_category_name,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      detail_desc = #{detail_desc,jdbcType=LONGVARCHAR},
      detail_html = #{detail_html,jdbcType=LONGVARCHAR},
      detail_mobile_html = #{detail_mobile_html,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.PmsProduct" >
    update pms_product
    set brand_id = #{brand_id,jdbcType=BIGINT},
      product_category_id = #{product_category_id,jdbcType=BIGINT},
      feight_template_id = #{feight_template_id,jdbcType=BIGINT},
      product_attribute_category_id = #{product_attribute_category_id,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      product_sn = #{product_sn,jdbcType=VARCHAR},
      delete_status = #{delete_status,jdbcType=INTEGER},
      publish_status = #{publish_status,jdbcType=INTEGER},
      new_status = #{new_status,jdbcType=INTEGER},
      recommand_status = #{recommand_status,jdbcType=INTEGER},
      verify_status = #{verify_status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      sale = #{sale,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      promotion_price = #{promotion_price,jdbcType=DECIMAL},
      gift_growth = #{gift_growth,jdbcType=INTEGER},
      gift_point = #{gift_point,jdbcType=INTEGER},
      use_point_limit = #{use_point_limit,jdbcType=INTEGER},
      sub_title = #{sub_title,jdbcType=VARCHAR},
      original_price = #{original_price,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      low_stock = #{low_stock,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DECIMAL},
      preview_status = #{preview_status,jdbcType=INTEGER},
      service_ids = #{service_ids,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      album_pics = #{album_pics,jdbcType=VARCHAR},
      detail_title = #{detail_title,jdbcType=VARCHAR},
      promotion_start_time = #{promotion_start_time,jdbcType=TIMESTAMP},
      promotion_end_time = #{promotion_end_time,jdbcType=TIMESTAMP},
      promotion_per_limit = #{promotion_per_limit,jdbcType=INTEGER},
      promotion_type = #{promotion_type,jdbcType=INTEGER},
      brand_name = #{brand_name,jdbcType=VARCHAR},
      product_category_name = #{product_category_name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>